<h1> feeds#index </h1>

<% if user_signed_in? %>
	<% if current_user.id == @user.id %>
		<%= link_to 'New Post', new_user_feed_path(@user) %>
	<% end %>
<% end %>

<% @feed.each do |feed| %>
	<%= link_to user_feed_path(@user, feed) do %>
		<p> <%= feed.title %> </p>
		<p> <%= truncate feed.body, length: 240 %> </p>
		<p> Posted <%= time_ago_in_words feed.created_at %> ago </p>
		<br>
	<% end %>
<% end %>
