<h1> New (should be a form) </h1>

<%= form_for @feed do |f| %>
	<%= f.label :title %>
	<br>
	<%= f.text_field :title %>
	<br>
	<%= f.label :body %>
	<br>
	<%= f.text_field :body %>
	<br>
	<%= f.submit %>
<% end %>