<h1> feeds#show </h1>

<% if user_signed_in? %>
	<% if current_user.id == @feed.user_id %>
		<%= link_to 'Delete Feed', user_feed_path, method: :delete, data: {confirm: "Are you sure? This will permanently delete this feed. "} %>
		<%= link_to 'Edit Feed', edit_user_feed_path %>
	<% end %>
<% end %>

<div>
	<%= @feed.title %> 
	<br>
	<%= image_tag @feed.image.url(:medium) %>
	<br>
	<%= @feed.body %>
	<%= @feed.created_at %>
	<%= @feed.updated_at %>
</div>

<div class="comments">
	<%= render @feed.comments %>
	<%= render "comments/form" %>
</div>
