<h1> Videos#index </h1>

<%= link_to 'New Video', new_video_path %>

<% @video.each do |video| %>
	<%= link_to video do %>
		<p> <%= video.title %> </p>
		<p> Rank: <%= video.rank %> </p>
		<p> <%= truncate video.description, length: 50 %> </p>
		<p> View Count: <%= video.view_count %> </p>
		<p> Uploaded <%= time_ago_in_words video.created_at %> ago </p>

		<br><br>
	<% end %>
<% end %>
