<h1> Videos#index </h1>

<%= link_to 'New Video', new_video_path %>

<% @video.each do |video| %>
	<%= link_to video do %>
		<p> <%= video.title %> </p>
		<p> <%= video.description %> </p>
		<p> <%= video.rank %> </p>
		<br>
	<% end %>
<% end %>
