<h1> videos#index </h1>

<% if user_signed_in? %>
	<% if current_user.id == @user.id %>
		<%= link_to 'New Video', new_user_video_path(@video) %>
	<% end %>
<% end %>

<% @video.each do |video| %>
	<%= link_to user_video_path(@user, video) do %>
		<p> <%= video.title %> </p>
		<br>
		<%= image_tag video.video.url(:thumb) %>
		<br>
		<p> Rank: <%= video.rank %> </p>
		<p> <%= truncate video.description, length: 50 %> </p>
		<p> View Count: <%= video.view_count %> </p>
		<p> Uploaded <%= time_ago_in_words video.created_at %> ago </p>

		<br><br>
	<% end %>
<% end %>
