<h1> videos#show </h1>

<% if user_signed_in? %>
	<% if current_user.id == @video.user_id %>
		<%= link_to 'Delete Video', user_video_path, method: :delete, data: { confirm: 'Are you sure? This action cannot be undone!' } %>
		<%= link_to 'Edit Video', edit_user_video_path %>
	<% end %>
<% end %>

<div>
	<p> <%= @video.title %> </p>
	<p> <%= @video.description %> </p>
	<p> Rank: <%= @video.rank %> </p>
	<p> View Count: <%= @video.view_count %> </p>
	<p> Uploaded <%= time_ago_in_words @video.created_at %> ago </p>
</div>